body {
  height: 100%;
  width: 100%;
  margin: 0;
}
.main-container {
  display: flex;
  flex-direction: row;
  
}

.side-bar {
  height: 100vh;
  width: 24%;
  background-color: #4e4d4c;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

.logo {
  display: flex;
  gap: 26px;
}

.explorer {
  margin-top: 54px;

  display: flex;
  flex-direction: column;
  gap: 18px;
}

.folder-title {
  display: flex;
  gap: 8px;
  align-items: center;
  color: #e9edf2;
  font-family: "Google Sans";
  font-size: 16;
  font-weight: 200;
  cursor: pointer;
  padding-left: 16px;
  padding-right: 16px;
}

.child-folders {
  margin-left: 16px;
  margin-top: 18px;
}

.child-files {
  margin-left: 54px;
  margin-top: 9px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.file-title {
  display: flex;
  gap: 8px;
  align-items: center;
  color: #e9edf2;
  font-family: "Google Sans";
  font-size: 16px;
  cursor: pointer;
}

.editor{
  width: 100%;
}

.tool-bar{
  display: flex;
  height: 36px;
  background-color: #191919;
  color: #e9edf2;
}
