body {
  height: 100%;
  width: 100%;
  margin: 0;
}
.main-container {
  display: flex;
  flex-direction: row;
}

.side-bar {
  height: 100vh;
  width: 24%;
  background-color: #4e4d4c;
}

.header-container {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

.logo {
  display: flex;
  gap: 26px;
}

.explorer {
  margin-top: 54px;

  display: flex;
  flex-direction: column;
  gap: 18px;
}

.folder-title {
  display: flex;
  gap: 8px;
  align-items: center;
  color: #e9edf2;
  font-family: "Google Sans";
  font-size: 16;
  font-weight: 200;
  cursor: pointer;
  padding-left: 16px;
  padding-right: 16px;
}

.child-folders {
  margin-left: 16px;
  margin-top: 18px;
}

.child-files {
  margin-left: 54px;
  margin-top: 9px;
  padding-top: 9px;
  padding-bottom: 9px;
}

.file-title {
  display: flex;
  gap: 8px;
  align-items: center;
  color: #e9edf2;
  font-family: "Google Sans";
  font-size: 16px;
  cursor: pointer;
}

.editor {
  width: 100%;
}

.tool-bar {
  display: flex;
  height: 32px;
  background-color: #161616;
  color: #e9edf2;
}
.tool-bar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #cecece;
  font-family: "Google Sans";
  font-size: 12px;
  cursor: pointer;
  padding: 6px 10px 6px 16px;
  border: 1px solid #292929;
  border-left: none;
}

.close {
  padding: 6;
  border-radius: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.close:hover {
  background-color: #494949;
}
.closeHover {
  padding: 6;
  border-radius: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.closeHover:hover {
  background-color: #333333;
}
